# Dependency directories
node_modules/

# Database and Settings files (Sensitive data)
accounts.json
settings.json
p2p_chats.json

# Environment variables
.env

# Scratch and temporary files
scratch/
*.log
